#center_id{
  width: 600px;
  height: 600px;
  margin-top: 260px;
  margin-left: 400px;
}
#text_id{
  margin-left: 10px;
  width: 365px;
}
#area{
  margin-top: 10px;
  margin-left: 112px;
}
#btn{
  margin-left: 115px;
  margin-top: 20px;
}
