<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <component :is="type"></component>
        <!-- <child-one v-if="type ==='child-one'"></child-one>
        <child-two v-if="type ==='child-two'"></child-two> -->
        <button @click="handleClick">点击这里</button>
    </div>
</body>
    <script>
        Vue.component('child-one',{
            template:'<div>我在这里</div>'
        });
        Vue.component('child-two',{
            template:'<div>你在那里</div>'
        });
        var vm = new Vue({
            el:'#app',
            data:{
                type:'child-one'
            },
            methods:{
                handleClick() {
                    this.type = (this.type === 'child-one'?'child-two':'child-one')
                }
            }
        });
    </script>
</html>